<a href="<%= trip_path(trip) %>" class="card-link">
  <div class="card-trip mb-3 cool-lik">
    <%= cl_image_tag trip.photo.key %>
    <div class="card-trip-infos">
      <div class="card-body">
        <h4><strong><%= trip.title %></strong></h4>
        <p><%= trip.location %></p>
        <p class="card-trip-pricing"><strong><%= trip.price_per_day%>€</strong> per day</p>
        <hr>
      </div>
    </div>
  </div>
</a>
