<div class="container-fluid">
  <br>
  <nav>
    <div class="nav nav-pills" id="nav-tab" role="tablist">
      <button class="btn btn-outline-light btn-nav active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">All trips</button>
      <button class="btn btn-outline-light btn-nav" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">My trips</button>
    </div>
  </nav>
  <br>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <%= form_with url: trips_path, method: :get, class: "d-flex" do %>
        <%= select_tag :location,
        options_for_select(["Moon", "Orion Nebula", "Andromeda Galaxy", "Mars", "Low Earth Orbit", "Jupiter",
        "Saturn", "Exoplanet", "Asteroid Belt", "Neptune", "Black Hole", "International Space Station"], params[:location]),
        class: "form-control",
        prompt: "Anywhere"
        %>
        <%= text_field_tag :price_max,
        params[:price_max],
        class: "form-control",
        placeholder: "Price per day max ?"
        %>
        <%= submit_tag "Filter", class: "btn btn-primary" %>
      <% end %>
      <div id="content-container">
        <div class="cards">
          <% @trips.each do |trip| %>
            <%= render "card", trip: trip %>
          <% end %>
        </div>
        <div id="map-index"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <%= link_to "Create a new trip", new_trip_path, class: "btn goldybtn " %>
      <hr>
      <div class="row">
        <%  (@trips.select { |trip| trip.user == current_user }).each do |trip| %>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <%= render "card", trip: trip %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
