<br>
<nav>
  <div class="container ">
    <div class="nav nav-pills" id="nav-tab" role="tablist">
      <button class="btn btn-outline-light btn-nav active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">My reservations</button>
      <button class="btn btn-outline-light btn-nav " id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">My proposals</button>
    </div>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="container">
    <p class="m-3 fw-bold">My reservations (<%= @user_bookings.count %>)</p>
      <% @user_bookings.each do |booking| %>
      <%= link_to booking_path(booking), class:'text-decoration-none' do %>
          <div class="card m-3" style="max-width: 100%; border-radius: 10px; background-color: #DAFFFB">
            <div class="row g-0">
              <div class="col-md-4">
                <div style="overflow: hidden; border-radius: 10px;">
                <%= cl_image_tag booking.trip.photo.key, class: "image-col", style: "height: 300px; width: 450px" %>
                </div>
              </div>
              <div class="col-md-8">
                <div class="card-body d-flex align-items-start flex-column justify-content-between">
                  <h1 class="text-dark mt-3"><strong><%=booking.trip.title%></strong></h1>
                  <p class="card-text" style="color: black;">Prepare for an extraordinary journey as our client ventures into the boundless realm of space. With anticipation and wonder, they'll explore distant galaxies, witness star formations, and experience weightlessness. Guided by skilled astronauts, this unparalleled adventure promises scientific discoveries and an everlasting awe for the universe.</p>
                  <p class="card-text fs-4" style="color: #176B87;">Time remaining: <span data-controller="timer" data-target="timer.countdown" data-date="<%= booking.start_date %>"></span></p>
                </div>
              </div>
            </div>
          </div>
      <% end %>
      <% end %>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div class="container">
      <p class="m-3 fw-bold">My proposals (<%= @host_bookings.count %>)</p>
      <% @host_bookings.each do |booking| %>
      <%= link_to booking_path(booking), class:'text-decoration-none' do %>
        <div class="card m-3" style="max-width: 100%; border-radius: 10px; background-color: #DAFFFB">
            <div class="row g-0">
              <div class="col-md-4">
                <div style="overflow: hidden; border-radius: 10px;">
                <%= cl_image_tag booking.trip.photo.key, class: "image-col", style: "height: 300px; width: 450px" %>
                </div>
              </div>
              <div class="col-md-8">
                <div class="card-body d-flex align-items-start flex-column justify-content-between">
                  <h1 class="text-dark mt-3"><strong><%=booking.trip.title%></strong></h1>
                  <p class="card-text" style="color: black;">Prepare for an extraordinary journey as our client ventures into the boundless realm of space. With anticipation and wonder, they'll explore distant galaxies, witness star formations, and experience weightlessness. Guided by skilled astronauts, this unparalleled adventure promises scientific discoveries and an everlasting awe for the universe.</p>
                  <p class="card-text fs-4" style="color: #176B87;">Time remaining: <span data-controller="timer" data-target="timer.countdown" data-date="<%= booking.start_date %>"></span></p>
                </div>
              </div>
            </div>
          </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
<hr>
<div class="m-3">
<%= link_to "Back to trips", trips_path, class:"btn goldybtn" %>
</div>
