<div class="container">
  <h1><%= @trip.title %></h1>
  <h3>Make a reservation</h3>
  <hr>
  <%= simple_form_for [@trip, @booking] do |f| %>
  <%= f.input :start_date, as: :date, html5: true %>
  <%= f.input :end_date, as: :date, html5: true %>
  <%= f.submit class: "btn btn-outline-dark" %>
  <% end %>
  <hr>
  <%= link_to "return to the list", trip_path(@trip), class: 'btn btn-dark' %>
</div>
